body{
    background: #e9ebee;
}

.bg-ctut{
    /*background-color: #000166;*/

    background: rgba(0,1,102,1);
    background: -moz-linear-gradient(left, rgba(0,1,102,1) 0%, rgba(0,1,102,1) 55%, rgba(51,174,255,1) 99%, rgba(51,174,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,1,102,1)), color-stop(55%, rgba(0,1,102,1)), color-stop(99%, rgba(51,174,255,1)), color-stop(100%, rgba(51,174,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,1,102,1) 0%, rgba(0,1,102,1) 55%, rgba(51,174,255,1) 99%, rgba(51,174,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,1,102,1) 0%, rgba(0,1,102,1) 55%, rgba(51,174,255,1) 99%, rgba(51,174,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,1,102,1) 0%, rgba(0,1,102,1) 55%, rgba(51,174,255,1) 99%, rgba(51,174,255,1) 100%);
    background: linear-gradient(to right, rgba(0,1,102,1) 0%, rgba(0,1,102,1) 55%, rgba(51,174,255,1) 99%, rgba(51,174,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000166', endColorstr='#33aeff', GradientType=1 );

}

.bg-ctut2{
    background-color: #000166;
}

.bg-tran{
    background: transparent;
}


.arow .card-header:after {
    font-family: 'Font Awesome 5 Free';
    /*font-style: normal;*/
    font-weight: 900;
    /*font-display: auto;*/
    content: "\f053";
    float: right;
}
.arow .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
}

/* body {*/

/*     background-color: #fff;*/
/*     color: black;*/

/* }*/

/*.dark-mode {*/
/*    background-color: #222;*/
/*    color: white;*/
/*}*/



